-
    var filter = [
        {
            dropdownType: 'radio',
            isSelected: false,
            isOpen: false,
            name: 'Сортировка',
            inputName: 'sort',
            inputType: 'radio',
            dropdown: ['По популярности', 'Сначала дороже', 'Сначала дешевле', 'По рейтингу'],
            event: false,
        },
        {
            dropdownType: 'select',
            isSelected: false,
            isOpen: false,
            name: 'Бренд',
            inputName: 'brand',
            inputType: 'checkbox',
            dropdown: ['По популярности', 'Сначала дороже', 'Сначала дешевле', 'По рейтингу'],
            event: 'counter',
        },
        {
            dropdownType: 'select',
            isSelected: false,
            isOpen: false,
            name: 'Тип продукта',
            inputName: 'type-prod',
            inputType: 'checkbox',
            dropdown: ['По популярности', 'Сначала дороже', 'Сначала дешевле', 'По рейтингу'],
            event: 'counter',
        },
        {
            dropdownType: 'select',
            isSelected: false,
            isOpen: false,
            name: 'Тип кожи',
            inputName: 'type-skin',
            inputType: 'checkbox',
            dropdown: ['По популярности', 'Сначала дороже', 'Сначала дешевле', 'По рейтингу'],
            event: 'counter',
        }
    ]