-
    var rigidity = [
        {
            name: 'Жесткий11',
            count: 19,
            checked: false,
            disabled: false,
            id: 'rigidity'
        },
        {
            name: 'Средний',
            count: 35,
            checked: false,
            disabled: false,
            id: 'rigidity'
        },
        {
            name: 'Мягкий',
            count: 20,
            checked: false,
            disabled: false,
            id: 'rigidity'
        },
        {
            name: 'Разная жёсткость сторон',
            count: 9,
            checked: true,
            disabled: false,
            id: 'rigidity'
        },
    ]

-
    var base = [
        {
            name: 'Зависимый блок пружин',
            count: 62,
            checked: true,
            disabled: false,
            id: 'base'
        },
        {
            name: 'Беспружинный матрас',
            count: 38,
            checked: true,
            disabled: false,
            id: 'base'
        },
        {
            name: 'Независимый блок пружин',
            count: 35,
            checked: true,
            disabled: false,
            id: 'base'
        },
        {
            name: 'Латексные матрасы',
            count: 14,
            checked: true,
            disabled: false,
            id: 'base'
        },
        {
            name: 'Кокосовый матрас',
            count: 5,
            checked: true,
            disabled: false,
            id: 'base'
        },
        {
            name: 'Кокосовый матрас2',
            count: 5,
            checked: true,
            disabled: false,
            id: 'base'
        },
        {
            name: 'Латексные матрасы5',
            count: 5,
            checked: true,
            disabled: false,
            id: 'base'
        },
        {
            name: 'Зависимый блок пружин',
            count: 62,
            checked: true,
            disabled: false,
            id: 'base'
        },
        {
            name: 'Беспружинный матрас',
            count: 38,
            checked: true,
            disabled: false,
            id: 'base'
        },
        {
            name: 'Независимый блок пружин',
            count: 35,
            checked: true,
            disabled: false,
            id: 'base'
        },
        {
            name: 'Латексные матрасы',
            count: 14,
            checked: true,
            disabled: false,
            id: 'base'
        },
        {
            name: 'Кокосовый матрас',
            count: 5,
            checked: true,
            disabled: false,
            id: 'base'
        },
        {
            name: 'Кокосовый матрас2',
            count: 5,
            checked: true,
            disabled: false,
            id: 'base'
        },
        {
            name: 'Латексные матрасы5',
            count: 5,
            checked: true,
            disabled: false,
            id: 'base'
        },
    ]

-
    var brand = [
        {
            name: 'DreamLine',
            count: 55,
            checked: true,
            disabled: false,
            id: 'brand'
        },
        {
            name: 'Dimax',
            count: 10,
            checked: true,
            disabled: false,
            id: 'brand'
        },
        {
            name: 'Materlux',
            count: 11,
            checked: true,
            disabled: false,
            id: 'brand'
        },
        {
            name: 'Kruage',
            count: 0,
            checked: false,
            disabled: true,
            id: 'brand'
        },
        {
            name: 'Lonax',
            count: 0,
            checked: false,
            disabled: true,
            id: 'brand'
        },
        {
            name: 'Classic',
            count: 14,
            checked: false,
            disabled: false,
            id: 'brand'
        },
        {
            name: 'Matramax',
            count: 14,
            checked: false,
            disabled: false,
            id: 'brand'
        },
        {
            name: 'Орматек',
            count: 5,
            checked: false,
            disabled: false,
            id: 'brand'
        },
        {
            name: 'Сонум',
            count: 5,
            checked: false,
            disabled: false,
            id: 'brand'
        },
        {
            name: 'Tenelli',
            count: 5,
            checked: false,
            disabled: false,
            id: 'brand'
        },

    ]

-
    var material = [
        {
            name: 'ППУ',
            count: 79,
            checked: true,
            disabled: false,
            id: 'material'
        },
        {
            name: 'Конский волос',
            count: 24,
            checked: true,
            disabled: false,
            id: 'material'
        },
        {
            name: 'Велюр',
            count: 16,
            checked: true,
            disabled: false,
            id: 'material'
        },
        {
            name: 'Кокос',
            count: 14,
            checked: true,
            disabled: false,
            id: 'material'
        },
        {
            name: 'Латекс',
            count: 8,
            checked: true,
            disabled: false,
            id: 'material'
        },
        {
            name: 'Синтепон',
            count: 14,
            checked: true,
            disabled: false,
            id: 'material'
        },
        {
            name: 'Холлкон',
            count: 5,
            checked: true,
            disabled: false,
            id: 'material'
        },
        {
            name: 'Мемориформ',
            count: 1,
            checked: true,
            disabled: false,
            id: 'material'
        },
        {
            name: 'Искусственный латекс',
            count: 54,
            checked: true,
            disabled: false,
            id: 'material'
        },
    ]

-
    var type = [
        {
            name: 'Натуральный11',
            count: 285,
            checked: false,
            disabled: false,
            id: 'type'
        },
        {
            name: 'Комбинированный',
            count: 191,
            checked: false,
            disabled: false,
            id: 'type'
        },
        {
            name: 'Искусственный',
            count: 93,
            checked: false,
            disabled: false,
            id: 'type'
        },

    ]

-
    var settings = [
        {
            name: 'Для дивана',
            count: 59,
            checked: false,
            disabled: false,
            id: 'settings'
        },
        {
            name: 'Эффект памяти',
            count: 32,
            checked: false,
            disabled: false,
            id: 'settings'
        },
        {
            name: 'Круглый',
            count: 12,
            checked: false,
            disabled: false,
            id: 'settings'
        },
        {
            name: 'В рулоне',
            count: 4,
            checked: false,
            disabled: false,
            id: 'settings'
        },

    ]

-
    var color = [
        {
            name: 'Чёрный',
            count: 92,
            color: 'black',
            checked: true,
            disabled: false,
            id: 'color'
        },
        {
            name: 'Серый',
            count: 92,
            color: 'gray',
            checked: false,
            disabled: false,
            id: 'color'
        },
        {
            name: 'Коричневый',
            count: 35,
            color: 'brown',
            checked: false,
            disabled: false,
            id: 'color'
        },
        {
            name: 'Белый',
            count: 21,
            color: 'white',
            checked: false,
            disabled: false,
            id: 'color'
        },
        {
            name: 'Синий',
            count: 10,
            color: 'blue',
            checked: false,
            disabled: false,
            id: 'color'
        },

    ]

-
    var filter = [
        {
            title: 'Жесткость',
            active: true,
            checked: true,
            list: rigidity,
            id: 'rigidity',
            search: false,
        },
        {
            title: 'Основа',
            active: true,
            checked: true,
            list: base,
            id: 'base',
            search: false,
        },
        {
            title: 'Цена, ₽',
            type: 'range',
            active: true,
            checked: false,
            id: 'range-price',
            evt: 'price',
            min: 2999,
            max: 69990,
            checkbox: true
        },
        {
            title: 'Размеры, см',
            type: 'dropdown',
            active: true,
            checked: false,
            id: 'size',
            evt: 'size',
            params: [
                {
                    open: false,
                    placeholder: 'Все',
                    name: 'from',
                    list: [
                        '80×190', '80×200', '90×190', '90×200', '100×190', '100×200', '150×250'
                    ]
                },
                {
                    open: false,
                    placeholder: 'Все',
                    name: 'to',
                    list: [
                        '80×190', '80×200', '90×190', '90×200', '100×190'
                    ]
                },
            ]
        },
        {
            title: 'Бренд',
            active: true,
            checked: true,
            list: brand,
            id: 'brand',
            search: false,
        },
        {
            title: 'Материал',
            active: true,
            checked: true,
            list: material,
            id: 'material',
            search: false,
        },
        {
            title: 'Нагрузка на спальное место, кг',
            type: 'range',
            evt: 'load',
            active: true,
            checked: false,
            id: 'range-load',
            min: 40,
            max: 200,
        },

        {
            title: 'Тип наполнителя',
            active: true,
            checked: false,
            list: type,
            id: 'type',
            search: false,
        },
        {
            title: 'Доп. параметры',
            active: true,
            checked: false,
            list: settings,
            id: 'settings',
            search: false,
        },
        {
            title: 'Цвет',
            active: false,
            checked: false,
            list: color,
            id: 'color',
            search: false,
        },
    ]
