-
    var accordion = [
        {
            group: 'accordion',
            type: 'default',
            title: 'состав',
            active: true,
            content: 'ac-content-1'
        },
        {
            group: 'accordion',
            type: 'default',
            title: 'применение',
            active: false,
            content: 'ac-content-2'
        },
        {
            group: 'accordion',
            type: 'default',
            title: 'Ключевые ингредиенты',
            active: false,
            content: 'ac-content-3'
        }

    ]


each val in accordion
    +accordion(val)
        case val.content
            when 'ac-content-1'
                p Вода, Глицерин, Пропилгептил Каприлат, Этилгексил Палмитат, Полиакрилат-13, Масло косточек плодов дерева Аргана, Миндальная кислота, Гликолевая кислота, Гидроксид аммония, Полисобутен, Тетра-карбоксиметил Нарингенинхалкон, Поли-акрилат Кроссполимер-6, Мирист
            when 'ac-content-2'
                p Втирать до готовности
            when 'ac-content-3'
                p Действие 1: Мгновенный смягчающий эффект
                p Аргановое масло содержит высокую концентрацию Омега-6 и витамина Е. + Обеспечивает кожу липидами для восстановления защитного барьера
                p Сухая кожа мгновенно успокаивается и восстанавливается