$gradient: linear-gradient(80.07deg, #326BD2 0%, #5CD384 100%);

@mixin get-adaptive($point) {

    @if ($point == 0) {
        @content;
    }

    @else {

        @media (min-width: #{$point}px) {
            @content;
        }
    }
}

@mixin desktopStyle() {

    @media (min-width: $desktop) {
        @content;
    }
}

@mixin link {
    font-family: $fontOpenSans;
    color: color(blue);
    transition: opacity 300ms ease-in;

    &:hover {
        opacity: 0.8;
        transition: opacity 300ms ease-in;
    }

}

@function get ($map, $key) {

    @if map-has-key($map, $key) {

        @return map-get($map, $key);
    }

    @warn "Unknown `#{$key}` in `#{$map}`.";

    @return null;
}

@function color ($key) {

    @return get($colors, $key);
}
