// лайолит
include layout/head/head
include layout/head/styles
include layout/head/fonts
include layout/head/styles
include layout/page-header/page-header

include layout/page-footer/scripts
include layout/page-footer/page-footer